<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Tareas Importantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-col>
  <ion-list *ngIf="impTasks.length >0">
    <ion-item *ngFor="let task of impTasks; let i=index">
      <ion-label>{{task}}</ion-label>
      <ion-button expand="block" (click)="unImportant(i)">
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-col>
</ion-content>